<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page Not Found - 404</title>
    <style>
        body {
            background-color: #181818;
            background-image: url('assets/bg.jpg')
        }
        .errorText {
            font-family: 'Exo', sans-serif;
            font-size: 4em;
            font-weight: 700;
            color: white;
            text-align: center;
        }
        /* Scrollbar */
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            /* background: #f1f1f1; */
            background: rgba(255, 0, 0, 0);
            /* background-color: transparent; */
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: rgba(136, 136, 136, 0.075);
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: rgba(136, 136, 136, 0.445);
        }

        ::-webkit-scrollbar-corner {
            background: rgba(136, 136, 136, 0.445);
        }
    </style>
  </head>
  <body>
    <p class="errorText">Error 404<br>Page Not Found</p>
  </body>
</html>